<%= stylesheet_link_tag '' %>

<div class="clock">
	<iframe src="http://free.timeanddate.com/countdown/i52q30g6/n179/cf12/cm0/cu4/ct4/cs1/ca0/co1/cr0/ss1/cac000/cpc000/pc9cf/tcfff/fn3/fs100/szw576/szh243/tatScavenger%20Hunt%20opens%20in%3A/tac000/tptReady%3F%20Please%20refresh!/tpc000/iso2016-03-05T12:00:00" allowTransparency="true" frameborder="0" width="411" height="83"></iframe>
</div>
<p class="instructions">To get ready, make sure your phone is charged, your walking shoes are laced up, your pocket calculator is ready to go, and your schedule allows at least two hours for completion! Remember - the hunt will only be available for two hours, please contact us if you need to set up a more convenient time.</p>